.daily-forecast {
    margin: 30px;

    .small-title {
        font-size: 25px;
    }

    .daily-container {
        margin: 20px;    
        display: flex;
        justify-content: space-around
    }    
}